body {
    margin: 0;
    padding: 0;
}

.image-container {
    position: relative;
}

.image-container img {
    width: 100%;
    /* Image scales to fit container */
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    right: 11vw;
    bottom: 0;
    background-color: #fafafa;
}
