body {
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}

.image-container {
    position: relative;
}

.image-container img {
    width: 100%;
    /* Image scales to fit container */
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    right: 11vw;
    bottom: 0;
    background-color: #fafafa;
}

.progress-text {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    color: #333;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
